@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --primary: #52d598 !important;
}

.error {
    background-color: #bf2925;
    padding-bottom: 12px;
    color: white;
    padding-left: 12px;
}

.error header {
    background-color: #e53935;
    padding: 12px;
    margin-left: -12px;
    margin-bottom: 12px;
    font-weight: bold;
}

nav {
    margin-bottom: 10vh;
}

nav li {
    margin-right: 10px;
}

.gitlab-source a {
    padding: 0;
}

.gitlab-source img {
    width: 2em;
}

.quote {
    font-size: 2em;
    font-family: Pacifico, cursive;
    font-weight: bold;
}
