<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/pico.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <title>Citations inspirantes</title>
</head>
<body>
  <main class="container">
    {% include 'nav.html' %}

    {% if is_admin %}
      <h2>Bienvenue, admin !</h2>
    {% endif %}

    <p class="quote">
      {{ quote|safe }}
    </p>

    <footer><small>Feelzor @ 2022</small></footer>
  </main>
</body>
</html>
