<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/pico.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/login.css">
  <title>Connexion</title>
</head>
<body>
  <main class="container">
    {% include 'nav.html' %}

    <form id="login-form" action="" method="post">
      <div>

        <label for="username">
          Nom d'utilisateur
          <input type="text" id="username" name="username" placeholder="User" required autofocus>
        </label>

        <label for="password">
          Mot de passe
          <input type="password" id="password" name="password" placeholder="Pass" required>
        </label>

      </div>

      <button type="submit">Connexion</button>

    </form>

  </main>
</body>
</html>
