<nav>
  <ul>
    <li><h1>Générateur d'inspiration</h1></li>
  </ul>
  <ul>
    <li><a href="/" role="button">Accueil</a></li>
    {% if not is_admin %}
      <li><a href="/login" role="button" class="outline">Connexion</a></li>
    {% endif %}
    {% if is_admin %}
      <li><a href="/admin" role="button">Admin</a></li>
      <li><a href="/logout" role="button" class="outline">Déconnexion</a></li>
    {% endif %}
    <li class="gitlab-source"><a href="https://gitlab.com/FeelZoR/my-awesome-quote-generator" role="button">
      <img src="/static/img/gitlab-logo-600.svg" alt="Source Code">
    </a></li>
  </ul>
</nav>
